@model APWModel.ViewModel.iSearch.HelpModel


<tr>
    <td>
        @Model.SortNo
    </td>
    <td>
        @Model.Description
    </td>
    <td class="text-center text-sm-center">
        @Model.ModuleName
    </td>

    <td class="text-center">

        <a href="#" class="btn btn-sm btn-primary preview-button " 
           data-toggle="tooltip" 
           title="Preview" 
           _modulename="@Model.ModuleName"
           _description="@Model.Description"
           _filename="@Model.Filename" 
           _id="@Model.Id">  
        <i class="fa-regular fa-circle-play"></i> Watch </a>
    </td>
  
</tr>