@model APWModel.ViewModel.Portal.Attendance_model.Correction_model

@using (Html.BeginForm("_AddCorrection", "Attendance", FormMethod.Post, new { enctype = "multipart/form-data", name = "cancel-correction-Form", id = "cancel-correction-Form" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.EmpId)
    @Html.HiddenFor(m => m.DateLog)
    @Html.HiddenFor(m => m.ShiftId)
    @Html.HiddenFor(m => m.TimeInTime)
    @Html.HiddenFor(m => m.TimeInTime)
    @Html.HiddenFor(m => m.TimeOutDate)
    @Html.HiddenFor(m => m.TimeOutTime)
    @Html.HiddenFor(m => m.Reason)

    <div class="row" id="div-validation" style="display: none;">
        <div class="col mb-3">
            <label for="html" id="error-message-label" class="form-label text-danger"></label><br>
        </div>
    </div>

}

Are you sure you want to mark this Attendance Correction request as <strong><span class="text-danger">Cancel</span></strong>?



