@model APWModel.ViewModel.Portal.Attendance_model.Correction_model


@using (Html.BeginForm("_AddCorrection", "Attendance", FormMethod.Post, new { enctype = "multipart/form-data", name = "attendance-correction-Form", id = "attendance-correction-Form" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.EmpId)
    @Html.HiddenFor(m => m.Remarks)

    @Html.HiddenFor(m => m.HasAttachement)
    @Html.HiddenFor(m => m.FileExtension)


    @Html.Partial("~/Views/Shared/_atdcorrection_instruction.cshtml")


    <div class="row" id="div-validation" style="display: none;">
        <div class="col mb-3">
            <label for="html" id="error-message-label" class="form-label text-danger"></label><br>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mb-3">
            <label for="" class="form-label">Date Log</label>
            @Html.TextBoxFor(m => m.DateLog, new {
                @class = "form-control",
                @placeholder = "mm/dd/yyyy",
                @type = "date",
                @Value = Model.DateLog.ToString("yyyy-MM-dd")
            })
        </div>

        <div class="col-6 mb-3">
            <label for="" class="form-label">Work Location</label>
            @Html.DropDownListFor(m => m.WorkLocation,
                new List<SelectListItem> {
                    new SelectListItem { Text = "Office", Value = "1" },
                    new SelectListItem { Text = "Home", Value = "2" },
                    new SelectListItem { Text = "Onsite Work", Value = "3" }
                },
                "Please Select",
                new { @class = "form-select" })
        </div>
    </div>


    <div class="row">
        <div class="col mb-3">
            <label for="" class="form-label">Shift</label>
            @Html.DropDownListFor(m => m.ShiftId, (IEnumerable<SelectListItem>)ViewBag._ClientShift, "Please Select", new { @class = "form-select", @placeholder = "Shift" })
        </div>
    </div>

    <div class="row">
        <label for="" class="form-label">Time In</label>
        <div class="col">
            @Html.TextBoxFor(m => m.TimeInDate, new { @class = "form-control  ", @placeholder = "mm/dd/yyyy", @type = "date", @Value = Model.TimeInDate.ToString("yyyy-MM-dd") })
        </div>
        <div class="col">
            @Html.TextBoxFor(m => m.TimeInTime, new { @class = "form-control", @placeholder = "Time Out", @type = "time", @Value = Model.TimeInTime.ToString("HH:mm"), @id = "TimeInTime" })
        </div>
    </div>

    <div class="row mt-2">
        <label for="" class="form-label">Time Out</label>
        <div class="col">
            @Html.TextBoxFor(m => m.TimeOutDate, new { @class = "form-control  ", @placeholder = "mm/dd/yyyy", @type = "date", @Value = Model.TimeOutDate.ToString("yyyy-MM-dd") })
        </div>
        <div class="col">
            @Html.TextBoxFor(m => m.TimeOutTime, new { @class = "form-control", @placeholder = "Time Out", @type = "time", @Value = Model.TimeOutTime.ToString("HH:mm"), @id = "TimeOutTime" })
        </div>
    </div>

    <div class="row mt-2 ">
        <div class="col">
            <label class="form-label-custom">Reason for Attendance correction</label>
            @Html.TextAreaFor(m => m.Reason, 3, 40, new { @class = "form-control", @placeholder = "Briefly explain the reason for applying an Attendance correction..." })

            
        </div>
    </div>


    <div class="row mt-2">
        <div class="col">
            <label class="form-label-custom">Update Attachment (Optional)</label>
            <input class="form-control" type="file" name="Correction_Attachment" id="Correction_Attachment">
        </div>
    </div>
}



