@model APWModel.ViewModel.Portal.Attendance_model.Correction_model

@using (Html.BeginForm("_AddCorrection", "Attendance", FormMethod.Post, new { enctype = "multipart/form-data", name = "post-correction-Form", id = "post-correction-Form" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.EmpId)
    @Html.HiddenFor(m => m.DateLog)
    @Html.HiddenFor(m => m.ShiftId)
    @Html.HiddenFor(m => m.TimeInTime)
    @Html.HiddenFor(m => m.TimeInTime)
    @Html.HiddenFor(m => m.TimeOutDate)
    @Html.HiddenFor(m => m.TimeOutTime)
    @Html.HiddenFor(m => m.Reason)
    @Html.HiddenFor(m => m.Remarks)
}

Are you sure you want to mark this Attendance Correction request as <strong><span class="text-success">Posted</span></strong>?



