@model APWModel.ViewModel.Global.Account.Portal_ChangePasswordModel
           
@section Scripts
{
    <script src="~/Scripts/Settings/Settings.js"></script>
}

<section class="main">
    <div class="main-title py-3">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-auto text-center text-lg-start mb-4 mb-lg-0">
                    <h1 class="h4 mb-4 mb-lg-0">Change Password</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Settings")">Settings</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-xl-4">

                </div>

                <div class="col-12 col-xl-4">
                    <div class="widget">
                        <h1 class="text-center text-black h1 mb-4">
                            Change Password
                        </h1>

                        @using (Html.BeginForm())
                        {

                            @Html.HiddenFor(model => model.EmpId)
                            @Html.ValidationSummary(true, "", new { @class = "text-danger font-weight-bold" })

                            <div class="row">
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "form-control-sm zips-label", @style = "color:red" })
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Current Password" })
                                </div>
                            </div>

                            <div class="row">
                                @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "form-control-sm zips-label", @style = "color:red" })
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                                </div>
                            </div>

                            <div class="row">
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "form-control-sm zips-label", @style = "color:red" })
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                </div>
                            </div>



                            <div class="pt-1 mt-4 mb-2 justify-content-center">
                                <button type="submit" class="btn btn-primary w-100" id="update-password-button">
                                    <i class="bi bi-check-circle"></i> Update
                                </button>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-12 col-xl-4">

                </div>
            </div>
        </div>
    </div>
</section>
