@model APWModel.ViewModel.Portal.PortalPersonalinfo_model

<div class="row justify-content-center justify-content-sm-between">
    <div class="col-auto">
        <h4 class="text-primary">Contact Information</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="text-muted mb-0"><small>Contact No.</small></p>
        <p><strong>@Model.ContactNo</strong></p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="text-muted mb-0"><small>Email Address</small></p>
        <p><strong>@Model.EmailAddress</strong></p>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-6">
        <p class="text-muted mb-0"><small>Present Address</small></p>
        <p><strong>@Model.Address</strong></p>
    </div>

    @*<div class="col-sm-6 col-lg-4 col-xl-3">
            <p class="text-muted mb-0"><small>Provincial Address</small></p>
            <p><strong>@Model.ProvinceAddress</strong></p>
        </div>*@

    @*<div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="text-muted mb-0"><small>City</small></p>
        <p><strong>@Model.City</strong></p>
    </div>


    <div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="text-muted mb-0"><small>Province</small></p>
        <p><strong>@Model.Province</strong></p>
    </div>



    <div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="text-muted mb-0"><small>Country</small></p>
        <p><strong>Philippines</strong></p>
    </div>*@
</div>
