@using APWModel.ViewModel.Global

@*class="navbar bg-primary" data-bs-theme="dark"*@
<nav class="navbar fixed-top navbar-expand-lg bg-dark " data-bs-theme="dark" id="nav-main">
    @*APW-navbar-main ">*@
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.asiapeopleworks.com.ph"><img src="~/Content/images/logos/APW-Logo-05.png" alt=""> <strong>Portal</strong></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>


            <div class="offcanvas-body align-items-center">
                <ul class="navbar-nav navbar-nav-left justify-content-start flex-grow-1 pe-lg-3 ps-lg-2 mb-3 mb-lg-0 pb-3 pb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " active" id="nav-Home" aria-current="page" href="@Url.Action("Index", "Home")">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " id="nav-Payroll" href="@Url.Action("Index", "Payroll")">Payroll</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="nav-Document" href="@Url.Action("Index", "Document")">Documents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="nav-Helpdesk" href="@Url.Action("Index", "Helpdesk")">Helpdesk</a>
                    </li>

                </ul>

                <ul class="navbar-nav justify-content-end flex-grow-1">
                  
                    <li class="nav-item dropdown ms-lg-2">
                        <a class="nav-link nav-link-profile dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="\CandidateImages\@((User as ContextLoginUser_model).CandidateId).JPEG" class="me-1" alt="">
                            @((User as ContextLoginUser_model).Username)
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Profile")">Profile</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Settings")">Settings</a></li>
                            <li><a class="dropdown-item" href="#" id="logout-menu">Sign Out</a></li>
                        </ul>


                    </li>
                </ul>
            </div>


        </div>
    </div>
</nav> 