@model APWModel.ViewModel.Portal.Overtime_model.OvertimeModel


@using (Html.BeginForm("Add", "Overtime", FormMethod.Post, new { enctype = "multipart/form-data", name = "edit-overtime-Form", id = "edit-overtime-Form" }))
{

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ClientId)
    @Html.HiddenFor(m => m.EmpId)
    @Html.HiddenFor(m => m.DateFiled)
    @Html.HiddenFor(m => m.OTHours)
    @Html.HiddenFor(m => m.Remarks)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.Message)

    @Html.HiddenFor(m => m.HasAttachement)
    @Html.HiddenFor(m => m.FileExtension)

    <div class="row" id="div-validation" style="display: none;">
        <div class="col mb-3">
            <label for="html" id="error-message-label" class="form-label text-danger"></label><br>
        </div>
    </div>


    <div class="row">
        <label for="" class="form-label">Shift Schedule on the selected date</label>
        <div class="col">
            <input class="text-center form-control text-primary bg-secondary" id="ot-shift-in" name="ot-shift-in" readonly="true"/>            
        </div>
        <div class="col">
            <input class="text-center form-control text-primary bg-secondary" id="ot-shift-out" name="ot-shift-out" readonly="true" />
        </div>
    </div>

    <div class="row">
        <label for="" class="form-label">Overtime start</label>
        <div class="col">
            @Html.TextBoxFor(m => m.OTFrom, new {@class = "form-control",@placeholder = "mm/dd/yyyy", @type = "date",  @Value = Model.OTFrom.ToString("yyyy-MM-dd"), @min = DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd") })
        </div>
        <div class="col">
            @Html.TextBoxFor(m => m.OTFromTime, new { @class = "form-control", @placeholder = "OT Start", @type = "time", @Value = Model.OTFromTime.ToString("HH:mm"), @id = "OTFromTime"})
        </div>
    </div>

    <div class="row">
        <label for="" class="form-label">Overtime End</label>
        <div class="col">
            @Html.TextBoxFor(m => m.OTTo, new { @class = "form-control", @placeholder = "mm/dd/yyyy", @type = "date", @Value = Model.OTTo.ToString("yyyy-MM-dd"),@min = DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")})
        </div>
        <div class="col">
            @Html.TextBoxFor(m => m.OTToTime, new { @class = "form-control", @placeholder = "OT End", @type = "time", @Value = Model.OTToTime.ToString("HH:mm"), @id = "OTToTime"})
        </div>
    </div>

    <div class="row" id="div-isContinuosOT">         
        <div class="col-6">
            <div class="form-check form-switch mt-2">
                @Html.CheckBoxFor(m => m.ContinuousOt, new { @class = "form-check-input"})
                <label class="form-check-label" for="flexSwitchCheckChecked">Continuous Overtime</label>
            </div>
        </div>          
    </div>

    @*<div class="row mt-4">
            <div class="col-3 mb-3">
                <label for="" class="form-label">Overtime Hours</label>
                @Html.TextBoxFor(m => m.OTHours, new { @class = "text-center form-control text-primary font-weight-bold", @placeholder = "Overtime Hours", @readonly = "true" })
            </div>
        </div>*@

    <div class="row mt-2">
        <div class="col">
            <label for="" class="form-label">Reason</label>
            @Html.TextAreaFor(m => m.Reason, 4, 40, new { @class = "form-control", @placeholder = "Enter your reason here" })
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <input class="form-control" type="file" name="Edit_Overtime_Attachment" id="Edit_Overtime_Attachment">
        </div>
    </div>
}



