@model  List<APWModel.ViewModel.Portal.DTR_model.DTRDetail_model>

<div class="widget widget-table mt-2">
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover align-middle" id="dtr-details-table">
            <thead>
                <tr>
                    <th class="bg-primary text-white">Date Log</th>
                    <th class="bg-primary text-white">Date name</th>
                    <th class="bg-primary text-white">Shift Schedule</th>
                    <th class="bg-primary text-white">Time In</th>
                    <th class="bg-primary text-white">Time Out</th>
                    <th class="bg-primary text-white">Remarks</th>
                    <th class="bg-primary text-white">Details</th>
                </tr>
            </thead>

            @*<tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td><small class="d-block"><span class="text-info fw-bold">@item.DateLog</span></small>    </td>
                    <td><small class="d-block">@item.DateName</small>    </td>
                    <td><small class="d-block">@item.ShiftDescription</small>    </td>
                    <td><small class="d-block">@item.TimeIn</small>    </td>
                    <td><small class="d-block">@item.TimeOut</small>    </td>
                    <td><small class="d-block">@item.TimeOut</small>    </td>
                    <td><small class="d-block">@item.TimeOut</small>    </td>
                </tr>
                }
            </tbody>*@
        </table>
    </div>
</div>